[flake8]
exclude = 
    venv,
    .venv,
    env,
    .env,
    .git,
    __pycache__,
    .pytest_cache,
    .mypy_cache,
    .tox,
    dist,
    build,
    *.egg-info,
    node_modules,
    .github,
    sites
max-line-length = 127
max-complexity = 10
