[flake8]
exclude = 
    venv,
    .venv,
    .venv-dogon,
    env,
    .env,
    .conda,
    .vscode,
    .git,
    __pycache__,
    .pytest_cache,
    .mypy_cache,
    .tox,
    dist,
    build,
    *.egg-info,
    node_modules,
    .github,
    sites,
    appwrite-functions,
    integrations,
    logs,
    bbbot1_pipeline,
    archive/disabled_pages,
    */frontend/components/#*
